body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: rgb(40, 49, 54);
  font-family: 'Roboto', sans-serif;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
	border: 0;
}

.first-container {
  width: 100%;
  background-color: #eee;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

.slider {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: #a6a6a6;
}

.main-header-logo:hover {
  opacity: .8;
}

.main-header-logo:active {
  opacity: .3;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.item-list {
  margin-right: 48px;
}

.item-list:last-child {
 margin-left: auto;
 margin-right: 20px;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 400;
  color: #000000;
  width: 380px;
  padding: 0 20px;
}

.main-header-logo {
  width: 160px;
  height: 70px;
  padding: 0 20px;
  margin-right: 202px;
}

.slide-text {
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 28px;
  display: block;
  width: 363px;
}

.slide-btn {
  width: 240px;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 80px;
  margin-left: 20px;
  box-sizing: border-box;
}

.first-slide {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.services {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.services-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0 20px;
  list-style: none;
}

.service-title {
  margin-top: 26px;
  margin-bottom: 28px;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.services-block {
  width: 300px;
  margin-right: 100px;
  margin-top: 80px;

  list-style: none;
}

.services-text{
  width: 250px;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 35px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: regular;
  color: #303030;
}

.btn {
  display: inline-block;
  padding: 16px 39px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
  color: #4dc491;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn-yellow {
 background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
  color: #edc265;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.info {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.about {
  width: 710px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 530px;
  box-sizing: border-box;
  border-bottom: 2px solid #eeeeee;
}

.info-title {
  width: 660px;
  margin-top: 70px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
}

.info p {
  padding: 38px 0 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500px;
}

.list-title {
 padding: 47px 20px;
 font-weight: 700;
 text-transform: uppercase;
 color: #000;
}

.about-list {
  margin: 0;
  margin-left: 35px;
  padding: 0;
}

.nerds-illustration {
  padding-left: 150px;
}

.percent {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.percent-list {
  display: flex;
  flex-direction: column;
  }

.percent-list-title {
  font-weight: 700;
  margin-bottom: 45px;
  text-transform: uppercase;
  color: #000;
}

.percent-list th {
  font-weight: normal;
  line-height: 18px;
  padding: 5px;
  text-align: left;
}

.percent-list td {
  font-size: 45px;
  font-weight: 700;
  padding: 5px;
  text-align: left;
  color: #000;
}

.percent-list sup {
  vertical-align: bottom;
}

.about-list li {
  list-style: none;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.portfolio {
  width: 1200px;
  margin: 0 auto;
}

.portfolio-img {
  opacity: .2;
}

.portfolio-img:hover {
  opacity: 1.0;
}

.portfolio-img:active {
  opacity: .1;
}

.map {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1440px;
  height: 416px;
  margin: 0 auto;
  background-color: #f1efe8;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.contacts {
  width: 1200px;
  margin: 0 auto;
}

.contacts-up {
  padding: 54px 20px;
  width: 319px;
  height: 308px;
  background-color: white;
}

.contacts-name {
  font-size: 18px;
  font-weight: 700px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.contacts-adress,
.contacts-phone {
  line-height: 18px;
}

.map-marker {
  position: absolute;
  z-index: 200;
  width: 300px;
  height: 190px;
  left: 820px;
  top: 90px;
  background-image: url('../img/map-marker.png');
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.friendship-title {
  margin-top: 79px;
  margin-right: 216px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.friendship-text {
  color:#666666;
  line-height: 18px;
}

.social-list {
  width: 260px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-button {
  margin-top: 69px;
  background-color:#e1e1e1;
  display: flex;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  position: relative;
}

.social-button .vk {
  position: absolute;
  top: 31px;
  left: 24px;
}

.social-button .fb {
  position: absolute;
  top: 29px;
  left: 30px;
}
.social-button .inst {
  position: absolute;
  top: 28px;
  left: 27px;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active{
  background-color: #d7373b;
}

.feedback h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #000;
}

.catalog-title {
  width: 1200px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 117px;
  text-align: center;
}

.container-catalog {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.left-column {
  width: 300px;
  padding: 0 20px;
}

.right-column {
  box-sizing: border-box;
  width: 900px;
  padding: 0 20px;
}

.sorting {
  display: flex;
  margin-top: 60px;
}

.sorting-title {
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
}

.sorting-func {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
}

.sorting-text {
  margin-right: 26px;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 59px;
}

.item-card {
 width: 360px;
 position: relative;
 height: 614px;
 margin-bottom: 34px;
 margin-right: 40px;
}

.item-card img {
 display: block;
}

.browser {
  width: 100%;
  opacity: .12;
  position: absolute;
  top: -40px;
}

.browser:active {
  opacity: .12
}

.item-description {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 231px;
  display: none;
  text-align: center;
  background-color: #eee;
}

.item-card:hover .item-description {
  display: block;
}

.item-card:hover .browser {
  opacity: 1.0;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.item-text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.pages {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.range-controls {
  margin-top: 133px;
  box-sizing: border-box;
  position: relative;
  height: 80px;
  width: 300px;
  margin-bottom: 20px;
  padding: 0 20px;
  background: #eeeeee;
  border-radius: 5px;
  overflow: hidden;
  }

  .range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #dfe2e3;
}

.range-controls .bar {
  height: 2px;
  width: 122px;
  background: #4fd69d;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  border-radius: 50%;
  background: #4fd69d;
}

.max-toggle {
  left: 122px;
}

.price-controls {
  box-sizing: border-box;
  width: 260px;
  display: flex;
  flex-wrap: nowrap;
  text-transform: uppercase;
  justify-content: space-between;
}

.price-controls input {
  box-sizing: border-box;
  width: 80px;
  padding: 10px 10px;
  margin-left: 10px;
  border: none;
  background: #eeeeee;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border-radius: 5px;
}

.filter-title {
  text-transform: uppercase;
  font-weight: 700;
}

.filter-elements {
  border: none;
}

.line {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 2px;
  background-color: #eeeeee;
}
